google-genai
python-dotenv
# Auth dependencies
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
# Cloud Run / Prod needs
uvicorn
fastapi
pydantic
pydantic[email]
sqlalchemy
scipy
pandas
prophet
numpy
python-dateutil
pytest
httpx
pytest-asyncio
cryptography
