fastapi
uvicorn
sqlalchemy
pydantic
pydantic[email]
scipy
pandas
prophet
numpy
python-dateutil
pytest
httpx
pytest-asyncio
cryptography
# Auth dependencies
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
bcrypt==4.0.1
python-multipart
google-cloud-aiplatform
